@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes caret-blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #6b46c1;
  }
}

.animate-caret-blink {
  animation: caret-blink 1s step-end infinite;
}

.clouds {
  background-repeat: repeat-x;
  background-position: top;
  animation: moveClouds 60s linear infinite;
}

@keyframes moveClouds {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
